
/* Big tablets to 1200px */
@media only screen and (max-width:1200px) {
  .hero-text-box{
    width: 100%;
    margin-left: 30%;
    padding: 0 0;
  }

  .row{padding: 0 2%;}
}

/* Small tablets to large tablets */
@media only screen and (max-width:1023px) {

  body{ font-size: 18px; }
  section { padding: 60px 0; }

  .title-para{
    width: 80%;
    margin-left: 10%;
  }

  .section-steps{ margin-top: 10px;}
  .section-steps:last-child{margin-top: 10px;}
  .works-step{margin-bottom: 40px;}
  .works-step:last-of-type{margin-bottom: 60px;}

  .app-screen{width:50%;}

  .icon-small{
    margin-right: 5px;
    width:270px;
  }

  .city-feature{font-size: 100%;}
  }

  .plan-box{
    width: 100%;
    margin-right:200%;
  }

  .plan-price{font-size: 230%;}

  .contact-form{
    width: 80%;
    margin-left: 10%;
    background-color: #f4f4f4;
  }

/* Small phones to small tablets */
@media only screen and (max-width:767px) {

  body{font-size: 16px;}

  section{padding: 30px,0;}

  .row, .hero-text-box{padding:0,4%; }
  .col{
    margin: 0 0 4% 0%;
    width: 100%;
  }

/* Mobile Navigation */
.mobile-nav-icon{
  float: right;
  display: inline-block;
  border: none;
  }

  .sticky .mobile-nav-icon i{color:#000;}

/*Mobile Navigation ends */

/* List navigaton in mobile */
.main-nav{
  font-size: 90%;
  margin-top: 15px;
  margin-left: 25px;
  float:left;
  display: none;
}

.main-nav li{
  display: block;
  padding-bottom: 2px;
}

.main-nav li a:visited,
.main-nav li a:link{
  display: block;
  border: 0;
  padding: 5px 0;
  font-size: 100%;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
  color: #333;
  padding: 5px 0;
  display: block;
}

/* List navigation in mobile ends */
  .hero-text-box{
    width: 100%;
    margin-top: 10%;
    margin-left: 30%;
  }

  .title-para{
    margin-left: 0%;
    width: 100%;
  }

  h1{font-size: 180%;}
  h2{font-size: 150%;}

.works-step{margin-bottom: 20px;}
.works-step:last-of-type{margin-bottom: 20px;}

.works-step div{
  padding: 5px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  }

/* small phones i.e. from 0 to 480px */
@media only screen and (max-width:480px) {

  section{padding: 25px 0;}
  .contact-form{width: 100%; margin: 0 auto;}
}
